.item-beverage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .item-title {
        font-size: 16px;
        min-height: 5rem;
        max-height: 5rem;
    }
    .item-price {
        font-size: 16px;
    }
    .item-size {
        position: absolute;
        top: -2px;
        left: 1em;
    }
    .item-image {
        width: 190px;
        height: 190px;
        transition: box-shadow .3s;
    }
    .item-image:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.3); 
    }
}