<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="title">
        Beverage Management
        <button type="button" class="btn btn-success" style="float:right" data-toggle="modal" data-target="#modal-beverage-detail" (click)="openDetailModal(CrudType.CREATE)"><i class="fas fa-user-plus"></i> Add Beverage</button>
    </h2>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-beverage ">
            
            <img src="../../../assets/images/hong-tra-dao.jpg" class="img-responsive" alt="Image">
            <label>Hong tra</label>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" data-toggle="modal" data-target="#modal-beverage-detail" (click)="openDetailModal(CrudType.VIEW)">View</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#modal-beverage-detail" (click)="openDetailModal(CrudType.UPDATE)">Edit</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#modal-beverage-delete" (click)="openDetailModal(CrudType.DELETE)">Delete</a></li>
                </ul>
              </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-beverage">
            
            <img src="../../../assets/images/hong-tra-dao.jpg" class="img-responsive" alt="Image">
            <label>Hong tra</label>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">View</a></li>
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-beverage">
            
            <img src="../../../assets/images/hong-tra-dao.jpg" class="img-responsive" alt="Image">
            <label>Hong tra</label>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">View</a></li>
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
        </div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-beverage">
            
            <img src="../../../assets/images/hong-tra-dao.jpg" class="img-responsive" alt="Image">
            <label>Hong tra</label>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">View</a></li>
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
        </div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-beverage">
            
            <img src="../../../assets/images/hong-tra-dao.jpg" class="img-responsive" alt="Image">
            <label>Hong tra</label>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">View</a></li>
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
        </div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-beverage">
            
            <img src="../../../assets/images/hong-tra-dao.jpg" class="img-responsive" alt="Image">
            <label>Hong tra</label>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">View</a></li>
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
        </div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-beverage">
            
            <img src="../../../assets/images/hong-tra-dao.jpg" class="img-responsive" alt="Image">
            <label>Hong tra</label>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">View</a></li>
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
        </div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-beverage">
            
            <img src="../../../assets/images/hong-tra-dao.jpg" class="img-responsive" alt="Image">
            <label>Hong tra</label>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">View</a></li>
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
        </div>
    </div>
    
<!-- Modal -->
<div id="modal-beverage-detail" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ title }} Beverage</h4>
      </div>
      <div class="modal-body">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="../../../assets/images/hong-tra-dao.jpg" class="img-responsive" alt="Image">
          </div>
        <p *ngIf="mode === CrudType.VIEW"><b>Hồng Trà</b></p>
        <input *ngIf="mode !== CrudType.VIEW" type="text" value="Hong Tra">
        <p> Rich Oolong milk tea is served with chewy pearls, sweet egg custard pudding and fresh starling dew</p>
        <table class="table">
                <thead>
                  <tr>
                    <th>Size</th>
                    <th>Giá Tiền</th>
                    <th>Lượng Đường</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>M</td>
                    <td>57.000</td>
                    <td>30.1</td>
                  </tr>
                  <tr>
                    <td>L</td>
                    <td>63.000</td>
                    <td>40.4</td>
                  </tr>
                </tbody>
              </table>  
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="modal-beverage-delete" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="background-color: #f2dede;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" >Delete</h4>
            </div>
            <div class="modal-body">
              <p>Do you want to delete this beverage ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
      
        </div>
      </div>