<!-- The sidebar -->
<div class="sidebar">
  <div style="display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 205px;
  border-bottom: 1px solid #f39c12;
  margin-bottom: 10px;
  ">
  <div style="width: 160px; height: 160px">

    <img class="avatar" [src]="authService.user && authService.user.avatar ? authService.user.avatar: '../../assets/images/user-avatar.jpg'"
      width="160" height="auto"
    style="border-radius: 80px"/>
    <div class="update-image"></div>
  </div>
    <h4 *ngIf="authService.user as user">{{ user.display_name }}</h4>
  </div>
    <a (click)="navToLink('profile')" [ngClass]="{'active': router.url.includes('profile')}" class="active"><i class="fa fa-fw fa-user "></i>&nbsp;My Profile</a>
    <a (click)="navToLink('user-management/user')" [ngClass]="{'active': router.url.includes('user-management/user')}"><i class="fas fa-users"></i>&nbsp;User Management</a>
    <a (click)="navToLink('my-order')" [ngClass]="{'active': router.url.includes('my-order')}"><i class="fas fa-list"></i>&nbsp;My Orders</a>
    <a (click)="navToLink('order-management')" [ngClass]="{'active': router.url.includes('order-management')}"><i class="fas fa-list"></i>&nbsp;Orders Management</a>
    <a (click)="navToLink('beverage-management')" [ngClass]="{'active': router.url.includes('beverage-management')}"><i class="fas fa-coffee"></i>&nbsp;Beverage Management</a>
</div>
      <!-- <app-user-profile></app-user-profile> -->