
<form class="form-horizontal" [formGroup] = 'shippingAddressDetailForm'>        
    <div class="form-group">
        <label class="control-label col-sm-3">Receiver Name</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Enter receiver name" formControlName="receiverName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">Phone Number</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Enter phone number" formControlName="phoneNumber">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">City</label>
        <div class="col-sm-9">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">District</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Enter display name" formControlName="displayName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">Ward</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Enter display name" formControlName="displayName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="email">Street</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Enter display name" formControlName="displayName">
        </div>
    </div>
</form>

            <!-- <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div> -->

